<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Gestion des paiements</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-row padding-start padding-top>
        <ion-text>
            <h4 no-margin class="medium">
                <strong>Méthodes de paiement</strong>
            </h4>
        </ion-text>
    </ion-row>
    <ion-row padding-start padding-bottom>
        <ion-text>
            <h4 no-margin class="small" color="light">
                Faites glisser l'élément pour les options
            </h4>
        </ion-text>
    </ion-row>
    <ion-list lines="none" *ngIf="(billings$ | async).length > 0">
        <ion-item-sliding
            *ngFor="let add of (billings$ | async); let i = index;"
        >
            <ion-item>
                <ion-row class="full" align-items-center>
                    <ion-col size="2">
                        <ion-icon
                            name="card"
                            size="large"
                            color="medium"
                        ></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                        <ion-row align-items-center>
                            <p no-margin>
                                <strong>{{add.phone}}</strong>
                            </p>
                        </ion-row>
                        <ion-row align-items-center>
                            <p class="small" no-margin>
                                {{ add.firstName }} {{ add.lastName }}
                            </p>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary">
                    <ion-icon name="create" size="large"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon name="trash" size="large"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-list margin-top lines="none">
        <ion-item (click)="addNew()">
            <ion-icon name="add" class="mycolor" margin-end></ion-icon>
            <ion-label class="mycolor">
                Ajouter un nouveau moyen paiement
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
