<ion-header class="mybg head" color="mytheme" padding>
    <ion-row justify-content-center>
        <ion-img class="head-image" src="assets/images/login.png"></ion-img>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-text
        ><h3 class="title" margin-bottom no-margin text-center>
            Authentification
        </h3></ion-text
    >
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-input
                        class="input"
                        clearInput
                        formControlName="email"
                        padding-horizontal
                        placeholder="Email"
                        type="email"
                    ></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input
                        class="input"
                        clearInput
                        formControlName="password"
                        padding-horizontal
                        placeholder="Password"
                        type="password"
                    ></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-text
                        (click)="functionService.navigate('password-reset', true)"
                        color="medium"
                        float-end
                        ><h6 class="small" no-margin text-end>
                        Mot de passe oublié ?
                        </h6></ion-text
                    >
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button
                        (click)="signIn()"
                        color="mytheme"
                        expand="block"
                        ><strong class="white">Se connecter</strong>
                    </ion-button>
                </ion-col>
            </ion-row>
            <div class="line"></div>
            <ion-row>
                <ion-col>
                    <ion-text color="medium" text-center
                        ><h6 class="small" no-margin>
                            <a (click)="open_modal(true)">Condition d'utilisation</a> et
                            <a (click)="open_modal(false)">Politique de confidentialité</a>
                        </h6></ion-text
                    >
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
