<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Carnet d'adresses</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-list *ngIf="(addresses$ | async).length" lines="none">
        <ion-item *ngFor="let item of (addresses$ | async); let i = index;">
            <ion-row align-items-center class="full">
                <ion-col size="2">
                    <ion-icon color="medium" name="pin" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-row align-items-center>
                        <p no-margin>
                            <strong
                                >{{item.firstName}} {{item.lastName}}</strong
                            >
                        </p>
                    </ion-row>
                    <ion-row>
                        <p no-margin>
                            {{item.firstAddressLine}},
                            {{item.secondAddressLine}}
                        </p>
                    </ion-row>
                    <ion-row>
                        <p no-margin>{{item.region}}</p>
                    </ion-row>
                    <ion-row>
                        <p no-margin>{{item.zipCode}}</p>
                    </ion-row>
                </ion-col>
                <ion-row>
                    <ion-col>
                        <ion-icon
                            class="mycolor item-icons"
                            name="create"
                            (click)="onEdit(item.id)"
                        ></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon
                            class="mycolor item-icons"
                            name="trash"
                            (click)="onDelete(item.id)"
                        ></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list lines="none" margin-top>
        <ion-item (click)="addNewAddress()">
            <ion-icon class="mycolor" margin-end name="add"></ion-icon>
            <ion-label class="mycolor">Ajouter une nouvelle adresse</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
