<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Ajouter un nouveau moyen de paiement</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-payment-form [billing]="billing$ | async" (save)="onSave($event)"></app-payment-form>
</ion-content>
