<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-row>
    <ion-col *ngFor="let data of items" size="6">
        <ion-card class="card" no-margin (click)="open(data)">
            <ion-badge class="badge" *ngIf="data.offer"
                >{{ data.discount }}%</ion-badge
            >
            <img [src]="data.image[0]" [alt]="data.name" />
            <ion-card-content>
                <ion-card-title>
                    <ion-row>
                        <ion-col *ngIf="data.offer" no-padding>
                            <ion-text text-left
                                ><span class="price"
                                    ><span class="inline"
                                        >{{ data.currency
                                        }}{{ data.price }}</span
                                    >
                                    <strong
                                        >{{ data.currency
                                        }}{{
                                            fun.calculate(
                                                data.price,
                                                data.discount
                                            )
                                        }}</strong
                                    ></span
                                ></ion-text
                            >
                        </ion-col>
                        <ion-col *ngIf="!data.offer" no-padding>
                            <ion-text text-left
                                ><span class="price"
                                    ><strong
                                        >{{ data.currency
                                        }}{{ data.price }}</strong
                                    ></span
                                ></ion-text
                            >
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-left no-padding>
                            <h6 text-left class="subtitle">
                                {{ data.bought }}+ bought this
                            </h6>
                        </ion-col>
                    </ion-row>
                </ion-card-title>
            </ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>
