<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Email Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-list lines="none">
        <ion-item>
            <ion-row class="full">
                <ion-col>
                    <ion-row>
                        <h4 class="medium" no-margin>Deals and Promotions</h4>
                    </ion-row>
                    <ion-row>
                        <h4 class="small" no-margin>
                            Daily deals, promotions, and flash sales
                        </h4>
                    </ion-row>
                </ion-col>
                <ion-col size="3">
                    <ion-checkbox float-right checked="true"></ion-checkbox>
                </ion-col>
            </ion-row>
        </ion-item>
        <div class="sep"></div>
        <ion-item>
            <ion-row class="full">
                <ion-col>
                    <ion-row>
                        <h4 class="medium" no-margin>Rewards</h4>
                    </ion-row>
                    <ion-row>
                        <h4 class="small" no-margin>
                            Gifts, rewards, and coupons
                        </h4>
                    </ion-row>
                </ion-col>
                <ion-col size="3">
                    <ion-checkbox float-right checked="true"></ion-checkbox>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
