<div>
    <ion-row padding-0>
        <ion-col class="padding-0" padding-0>
            <ion-slides [options]="slideOpts" pager="true">
                <ion-slide *ngFor="let i of product.image">
                    <img [src]="i" class="image" />
                    <div class="product-image-overlay"></div>
                </ion-slide>
            </ion-slides>
            <ion-badge class="badge">
                <ion-icon name="images"></ion-icon>
                {{ product.image.length }}
            </ion-badge>
            <ion-row class="hover-buttons" justify-content-end>
                <ion-icon
                    (click)="shareViaInstagram(product.image[0])"
                    class="fab"
                    float-right
                    name="logo-instagram"
                    size="small"
                ></ion-icon>
                <ion-icon
                    (click)="shareCommon(product.image[0])"
                    class="fab"
                    float-right
                    name="share"
                    size="small"
                ></ion-icon>
                <ion-icon
                    (click)="like()"
                    *ngIf="!liked"
                    class="fab"
                    float-right
                    name="heart-empty"
                    size="small"
                ></ion-icon>
                <ion-icon
                    (click)="like()"
                    *ngIf="liked"
                    class="fab red"
                    float-right
                    name="heart"
                    size="small"
                ></ion-icon>
            </ion-row>
        </ion-col>
    </ion-row>
    <div padding>
        <ion-row class="row" lines="none">
            <ion-text class="name">{{ product.name }}</ion-text>
        </ion-row>
        <ion-row>
            <ion-icon
                *ngFor="let i of fun.array(product.rating)"
                color="mytheme"
                name="star"
            ></ion-icon>
            <ion-icon
                *ngFor="let i of fun.array(5 - product.rating)"
                color="mytheme"
                name="star-outline"
            ></ion-icon>
            <h6 (click)="goToReviews()" class="rate" no-margin padding-start>
                ({{ product.storeRating }} Évaluation du magasin)
            </h6>
        </ion-row>
        <div class="sep"></div>
        <div>
            <ion-text
                ><span float-left no-margin
                    ><strong>Vendu par</strong></span
                ></ion-text
            >
            <br />
            <ion-row>
                <ion-col size="2">
                    <ion-avatar class="avatar"
                        ><img [src]="product.image[0]"
                    /></ion-avatar>
                </ion-col>
                <ion-col>
                    <ion-text
                        ><span float-left no-margin>{{
                            product.soldBy
                        }}</span></ion-text
                    >
                    <br />
                    <ion-text>
                        <h6 float-left no-margin>
                            {{ product.storeRating }} ratings
                        </h6>
                    </ion-text>
                    <br />
                </ion-col>
            </ion-row>
        </div>
        <div class="sep"></div>
        <ion-list lines="none">
            <ion-row (click)="toogle(0)" class="full info">
                <ion-col size="9">
                    <strong float-left>Spécification de l'article</strong>
                </ion-col>
                <ion-col>
                    <ion-icon
                        *ngIf="!open[0]"
                        float-right
                        name="arrow-dropdown"
                    ></ion-icon>
                    <ion-icon
                        *ngIf="open[0]"
                        float-right
                        name="arrow-dropup"
                    ></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="open[0]" class="full" margin-top>
                <ion-col>
                    <span float-left>{{ product.specs }}</span>
                </ion-col>
            </ion-row>
            <div class="sep"></div>
            <ion-row (click)="toogle(1)" class="full info">
                <ion-col size="9">
                    <strong float-left>Description</strong>
                </ion-col>
                <ion-col>
                    <ion-icon
                        *ngIf="!open[1]"
                        float-right
                        name="arrow-dropdown"
                    ></ion-icon>
                    <ion-icon
                        *ngIf="open[1]"
                        float-right
                        name="arrow-dropup"
                    ></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="open[1]" class="full" margin-top>
                <ion-col>
                    <span float-left>{{ product.description }}</span>
                </ion-col>
            </ion-row>
            <div class="sep"></div>
            <ion-row (click)="toogle(2)" class="full info">
                <ion-col size="9">
                    <strong float-left>Garantie</strong>
                </ion-col>
                <ion-col>
                    <ion-icon
                        *ngIf="!open[2]"
                        float-right
                        name="arrow-dropdown"
                    ></ion-icon>
                    <ion-icon
                        *ngIf="open[2]"
                        float-right
                        name="arrow-dropup"
                    ></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="open[2]" margin-top>
                <ion-col>
                    <span float-left>{{ product.buyerGuarantee }}</span>
                </ion-col>
            </ion-row>
            <div class="sep"></div>
            <ion-row (click)="toogle(3)" class="full info">
                <ion-col size="9">
                    <strong float-left>Informations sur la livraison</strong>
                </ion-col>
                <ion-col>
                    <ion-icon
                        *ngIf="!open[3]"
                        float-right
                        name="arrow-dropdown"
                    ></ion-icon>
                    <ion-icon
                        *ngIf="open[3]"
                        float-right
                        name="arrow-dropup"
                    ></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="open[3]" class="full" margin-top>
                <ion-col>
                    <span float-left
                        ><strong>Expédition standard</strong>
                        {{ product.currency }}{{ product.shipping }}</span
                    >
                </ion-col>
            </ion-row>
            <div class="sep"></div>
            <ion-row class="full info">
                <ion-row>
                    <ion-col><strong>Critiques récentes</strong></ion-col>
                </ion-row>
                <div *ngFor="let review of product.reviews">
                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar class="avatar"
                                ><img [src]="review.image"
                            /></ion-avatar>
                        </ion-col>
                        <ion-col>
                            <ion-row class="full">
                                <ion-icon
                                    *ngFor="let i of fun.array(review.rating)"
                                    class="small-ico"
                                    color="mytheme"
                                    float-right
                                    name="star"
                                ></ion-icon>
                                <ion-icon
                                    *ngFor="
                                        let i of fun.array(5 - review.rating)
                                    "
                                    class="small-ico"
                                    color="mytheme"
                                    float-right
                                    name="star-outline"
                                ></ion-icon>
                                <h6 float-left no-margin text-start>
                                    <strong>{{ review.name }}</strong>
                                </h6>
                                <br />
                            </ion-row>
                            <ion-row class="full">
                                <h6
                                    class="cmnt"
                                    float-left
                                    no-margin
                                    text-start
                                >
                                    {{ review.comment }}
                                </h6>
                                <br />
                                <img
                                    *ngFor="let img of review.images"
                                    [src]="img"
                                    class="rev-img"
                                    float-left
                                />
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-row>
        </ion-list>
    </div>
</div>
