<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-button>
                <ion-back-button color="light"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="light" lines="none">
        <ion-col padding-vertical>
            <ion-row>
                <h4 class="small" no-margin>
                    <strong>Use this form to change your password.</strong>
                </h4>
            </ion-row>
            <ion-row>
                <h4 class="small" no-margin>
                    Enter your old password for authorization
                </h4>
            </ion-row>
        </ion-col>
    </ion-item>
    <ion-item lines="none">
        <ion-col padding-vertical>
            <ion-row>
                <h4 class="small" no-margin>Old Password</h4>
            </ion-row>
            <ion-row>
                <ion-input
                    class="input"
                    placeholder="Enter old password"
                    type="password"
                    padding-horizontal
                ></ion-input>
            </ion-row>
        </ion-col>
    </ion-item>
    <ion-item lines="none">
        <ion-col padding-vertical>
            <ion-row>
                <h4 class="small" no-margin>New Password</h4>
            </ion-row>
            <ion-row>
                <ion-input
                    class="input"
                    placeholder="Enter new password"
                    type="password"
                    padding-horizontal
                ></ion-input>
            </ion-row>
        </ion-col>
    </ion-item>
</ion-content>
<ion-footer no-border padding>
    <ion-button expand="block" color="mytheme" (click)="fun.back()"
        ><span class="white"><strong>Save Changes</strong></span></ion-button
    >
</ion-footer>
