<ion-header class="mybg">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">
            Paramètres
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding-bottom>
    <ion-list lines="none" no-margin>
        <div *ngFor="let item of items;let i = index;">
            <ion-item (click)="nav(item.url)">
                <ion-text>
                    <h4 class="medium" no-margin>{{item.name}}</h4>
                </ion-text>
            </ion-item>
            <div class="sep"></div>
        </div>
    </ion-list>
    <ion-row padding-horizontal>
        <h4 class="small" no-margin>
            <a (click)="openModal(true)" class="mycolor">Conditions d'utilisation</a> et
            <a class="mycolor" (click)="openModal(false)">Politique de Confidentialité</a>
        </h4>
    </ion-row>
</ion-content>
