<ion-row>
    <ion-col *ngFor="let item of items;" size="6">
        <ion-card (click)="open(item)" class="card" no-margin>
            <ion-badge *ngIf="item.offer" class="badge"
                >{{item.discount}} %</ion-badge
            >
            <img [alt]="item.name" [src]="item.image[0]" />
            <ion-card-content>
                <ion-card-title>
                    <ion-row>
                        <ion-col *ngIf="item.offer" no-padding>
                            <ion-text text-left>
                                <span class="price">
                                    <span class="inline"
                                        >{{item.currency}}{{item.price}}</span
                                    >
                                    <strong
                                        >{{item.currency}}{{utilsService.calculate(item.price,
                                        item.discount)}}</strong
                                    >
                                </span>
                            </ion-text>
                        </ion-col>
                        <ion-col *ngIf="!item.offer" no-padding>
                            <ion-text text-left
                                ><span class="price"
                                    ><strong
                                        >{{item.price | currency }}
                                        {{item.currency}}</strong
                                    ></span
                                >
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col no-padding text-left>
                            <h6 class="subtitle" text-left>
                                {{item.bought}}+ bought this
                            </h6>
                        </ion-col>
                    </ion-row>
                </ion-card-title>
            </ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>
