.white {
  color: white !important;
}

.slide {
  width: 100%;
}

.text {
  font-size: 12px;
}

.light-bg {
  background: #f4f5f8;
}

.my-btn {
  border: unset !important;
  border-radius: 5px !important;
  color: rgb(250, 250, 250);
  margin: 0 12px !important;
  width: fit-content;
  --background-checked: transparent;
  min-height: 25px;
}

.hor-scroll {
  height: 30px;
}

.cut {
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
  margin: auto;
}

.foot-highlight {
  color: orange;
  display: inline-block;
  margin: auto;
  margin-left: 9px;
}

.foot-btn {
  width: 100%;
}

#dag {
  scroll-behavior: smooth;
}

.segment-toolbar-section {
  --min-height: 30px;

  .segSection {
    display: flex;
    align-items: flex-end;
    min-height: 30px;
  }
}
