<ion-header class="mybg">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="fun.navigate('cart')">
                <ion-icon
                    class="white top-btn"
                    name="cart"
                    no-margin
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon
                    class="white top-btn"
                    name="search"
                    no-margin
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="segment-toolbar-section" color="mytheme">
        <ion-segment
            (ionChange)="onSegmentChange($event)"
            class="segSection"
            id="dag"
            mode="md"
            scrollable="true"
        >
            <ion-segment-button
                (ionSelect)="onSelect(i)"
                *ngFor="let tab of tabs; let i = index;"
                [id]="'seg_' + i"
                [ngClass]="{'btn-active':segment == tab.title}"
                [value]="tab.title"
                no-margin
                no-padding
            >
                <ion-text class="text" padding-horizontal
                    >{{ tabLabels[tab.title] }}</ion-text
                >
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ng-container *ngIf="(product$ | async)">
    <ion-content #content>
        <ion-slides
            #slides
            (ionSlideDidChange)="change()"
            [options]="slideOpts"
            pager="false"
        >
            <ion-slide>
                <app-product
                    (notify)="onReviewClick($event)"
                    [product]="(product$ | async)"
                    [slider]="slider"
                    class="slide"
                ></app-product>
            </ion-slide>
            <ion-slide class="light-bg" padding>
                <app-inner-home
                    [items]="relatedProducts$ | async"
                    class="slide"
                ></app-inner-home>
            </ion-slide>
            <ion-slide>
                <app-review
                    [bool]="true"
                    [product]="(product$ | async)"
                    class="slide"
                ></app-review>
            </ion-slide>
            <ion-slide>
                <app-review
                    [bool]="false"
                    [product]="(product$ | async)"
                    class="slide"
                ></app-review>
            </ion-slide>
        </ion-slides>
    </ion-content>
    <ion-footer
        *ngIf="segment === ProductDetailsTab.OVERVIEW"
        align-items-center
        class="footer"
    >
        <ion-row align-items-center>
            <ion-col padding>
                <ion-text *ngIf="(product$ | async).offer">
                    <h6 class="cut" no-margin>
                        {{(product$ | async).currency}}{{(product$ |
                        async).price}}
                    </h6>
                </ion-text>
                <ion-text *ngIf="(product$ | async).offer">
                    <h3 class="foot-highlight" no-margin>
                        {{(product$ | async).currency}}{{fun.calculate((product$
                        | async).price, (product$ | async).discount)}}
                    </h3>
                </ion-text>
                <ion-text *ngIf="!(product$ | async).offer">
                    <h3 class="foot-highlight" no-margin>
                        {{(product$ | async).currency}}{{(product$ |
                        async).price}}
                    </h3>
                </ion-text>
            </ion-col>
            <ion-col size="7">
                <ion-button
                    (click)="addToCart()"
                    class="white foot-btn"
                    color="orange"
                    expand="block"
                    float-right
                    no-margin
                    ><strong>Ajouter au panier</strong></ion-button
                >
            </ion-col>
        </ion-row>
    </ion-footer>
</ng-container>
