.input {
  border: 0.5px solid rgb(210, 210, 210);
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 3px;
  font-size: 0.9em !important;
}
.label {
  font-size: 12px;
}
.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}
