<ng-container [formGroup]="form" *ngIf="form">
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Prénom</span></ion-text>
            <ion-input
                class="input"
                padding-horizontal
                formControlName="firstName"
            ></ion-input>
        </ion-col>
        <ion-col>
            <ion-text><span class="label">Nom</span></ion-text>
            <ion-input
                class="input"
                padding-horizontal
                formControlName="lastName"
            ></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Adresse *</span></ion-text>
            <ion-input
                class="input"
                padding-horizontal
                formControlName="firstAddressLine"
            ></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Supplément</span></ion-text>
            <ion-input
                class="input"
                padding-horizontal
                placeholder="Optional"
                formControlName="secondAddressLine"
            ></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Ville *</span></ion-text>
            <ion-select class="input" formControlName="city">
                <ion-select-option *ngFor="let city of cities" [value]="city">
                    {{ city | titlecase }}</ion-select-option
                >
            </ion-select>
        </ion-col>
        <ion-col>
            <ion-text><span class="label">Région *</span></ion-text>
            <ion-select class="input" formControlName="region">
                <ion-select-option *ngFor="let region of regions" [value]="region">{{
                    region | titlecase
                }}</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Code postal *</span></ion-text>
            <ion-input
                class="input"
                type="number"
                padding-horizontal
                formControlName="zipCode"
            ></ion-input>
        </ion-col>
        <ion-col>
            <ion-text><span class="label">Téléphone</span></ion-text>
            <ion-input
                class="input"
                type="number"
                padding-horizontal
                formControlName="phone"
            ></ion-input>
        </ion-col>
    </ion-row>
    <ion-button
        expand="block"
        color="mytheme"
        class="bottom"
        (click)="onSubmit()"
        ><span class="white"><strong>Enregistrer</strong></span></ion-button
    >
</ng-container>
