<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light" *ngIf="creationMode$ | async">Ajout d'une nouvelle adresse </ion-title>
        <ion-title color="light" *ngIf="!(creationMode$ | async)">Modification de l'adresse {{ (address$ | async).firstAddressLine }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-address-form [address]="address$ | async" (save)="onSave($event)"></app-address-form>
</ion-content>
