<ng-container [formGroup]="form">
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Numéro de téléphone</span></ion-text>
            <ion-input
                    class="input"
                    padding-horizontal
                    type="text"
                    formControlName="phone"
            ></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-text><span class="label">Nom</span></ion-text>
            <ion-input
                    class="input"
                    padding-horizontal
                    type="text"
                    formControlName="lastName"
            ></ion-input>
        </ion-col>
        <ion-col>
            <ion-text><span class="label">Prénom</span></ion-text>
            <ion-input
                    class="input"
                    padding-horizontal
                    type="text"
                    formControlName="firstName"
            ></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="2">
            <ion-icon name="lock" class="icon"></ion-icon>
        </ion-col>
        <ion-col>
            <h5 no-margin class="label">Moyen de paiement sécurisé</h5>
            <h6 class="small">
                Reconnu par plus de 1 millions d'acheteurs dans le pays
            </h6>
        </ion-col>
    </ion-row>
    <ion-button (click)="onSubmit()" class="bottom" color="mytheme" expand="block"
    ><span class="white"
    ><strong>Enregistrer</strong></span
    ></ion-button
    >
</ng-container>
