<ion-app>
    <ion-split-pane>
        <ion-menu type="push">
            <ion-header>
                <ion-toolbar color="mytheme">
                    <ion-row align-items-center padding-horizontal>
                        <ion-col align-items-center padding-vertical size="3">
                            <ion-avatar margin-vertical>
                                <img
                                    [src]="
                                        (user$ | async)?.profile ||
                                        'https://www.gravatar.com/avatar/b6bce2334d3d993ecd2c35ee240dff81?d=mp&f=1'
                                    "
                                />
                            </ion-avatar>
                        </ion-col>
                        <ion-col align-items-center padding-vertical>
                            <div margin-vertical>
                                <h4
                                    *ngIf="user$ | async"
                                    class="medium white"
                                    margin-start
                                    no-margin
                                >
                                    <strong
                                        >{{ (user$ | async)?.firstName }}
                                        {{ (user$ | async)?.lastName }}</strong
                                    >
                                </h4>
                                <h6 class="small white" margin-start no-margin>
                                    Voir le profil
                                </h6>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-menu-toggle *ngFor="let p of mainPages" auto-hide="false">
                    <ion-item
                        [routerDirection]="'root'"
                        [routerLink]="[p.url]"
                        detail="false"
                        lines="none"
                    >
                        <ion-icon
                            [name]="p.icon"
                            class="sidemenu-icon"
                            slot="start"
                        ></ion-icon>
                        <ion-label>
                            {{ p.title }}
                            <ion-badge
                                *ngIf="p.title == 'Shopping Cart'"
                                class="label-subtext"
                                color="danger"
                                >6
                            </ion-badge>

                            <span
                                *ngIf="p.title == 'Wish Cash'"
                                class="label-subtext"
                                >:
                                <span class="mycolor"
                                    >{{ dataService.wish_cash.currency
                                    }}{{
                                        utilsService.calculate(
                                            dataService.wish_cash.amount,
                                            0
                                        )
                                    }}</span
                                ></span
                            >
                            <span
                                *ngIf="p.title == 'Rewards'"
                                class="label-subtext"
                                >:
                                <span class="mycolor"
                                    >{{
                                        dataService.rewards.points
                                    }}
                                    Points</span
                                ></span
                            >
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <div class="line"></div>
                <ion-menu-toggle
                    *ngFor="let p of secondaryPages"
                    auto-hide="false"
                >
                    <ion-item
                        [routerDirection]="'root'"
                        [routerLink]="[p.url]"
                        detail="false"
                        lines="none"
                    >
                        <ion-icon
                            [name]="p.icon"
                            class="sidemenu-icon"
                            slot="start"
                        ></ion-icon>
                        <ion-label>
                            {{ p.title }}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
