<ion-header class="mybg">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-input
            (click)="utilsService.navigate('search')"
            class="search-bar"
            padding-start
            placeholder="Rechercher..."
            type="text"
        ></ion-input>
        <ion-buttons slot="end">
            <ion-button (click)="utilsService.navigate('cart')">
                <ion-icon
                    class="white top-btn"
                    name="cart"
                    no-margin
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
            <ion-button (click)="openSide()">
                <ion-icon
                    *ngIf="segment!=categories[1].title"
                    class="white top-btn"
                    name="switch"
                    no-margin
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="segment-toolbar-section" color="mytheme">
        <ion-segment
            (ionChange)="onSegmentChange($event)"
            id="dag"
            mode="md"
            scrollable="true"
        >
            <ion-segment-button
                (ionSelect)="onSelect(i)"
                *ngFor="let item of categories; let i = index;"
                [id]="'seg_' + i"
                [value]="item.title"
                no-margin
                no-padding
            >
                <ion-text class="text" padding-horizontal
                    >{{ productCategoryLabels[item.title] }}</ion-text
                >
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
    <ion-slides
        #categorySlides
        (click)="preventDefault($event)"
        (ionSlideDidChange)="change()"
        [options]="slideOpts"
        pager="false"
    >
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
        <ion-slide>
            <app-product-list [items]="products$ | async"></app-product-list>
        </ion-slide>
    </ion-slides>
</ion-content>
