.search-bar {
  background-color: rgba(240, 240, 240, .5);
  border-radius: 3px;
  font-size: .9em !important;
}

.hor-scroll {
  height: 30px;
}

.menu {
  color: white !important;
}

.my-btn {
}

.text {
  font-size: 12px;
  padding-bottom: 5px;
}

#dag {
  scroll-behavior: smooth;
}

.segment-toolbar-section {
  --min-height: 30px;

  .segSection {
    display: flex;
    align-items: flex-end;
    min-height: 30px;
  }
}
