<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">Panier</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light" padding-top>
    <div *ngIf="!(show$ | async)" class="mid">
        <ion-row disabled="true" justify-content-center size="12">
            <button class="circle">
                <ion-icon name="cart" size="large"></ion-icon>
            </button>
        </ion-row>
        <ion-row disabled="true" justify-content-center size="12">
            <ion-text><strong>Votre panier est vide.</strong></ion-text>
        </ion-row>
        <ion-row disabled="true" justify-content-center size="12">
            <ion-button (click)="browse()" color="primary" fill="clear"
                >Continuer vos achats</ion-button
            >
        </ion-row>
    </div>
    <div *ngIf="(show$ | async)">
        <ion-row margin-bottom margin-horizontal>
            <ion-text><strong class="text">Panier</strong></ion-text>
        </ion-row>
        <app-cart-item-list
            (remove)="onRemove($event)"
            (updateCart)="onUpdateCarItems($event)"
            [itemsCost]="itemsCost$ | async"
            [items]="items$ | async"
            [shippingCost]="shippingCost$ | async"
        ></app-cart-item-list>
    </div>
</ion-content>
<ion-footer (click)="fun.checkout()" *ngIf="show">
    <ion-toolbar color="success">
        <ion-title>Payer</ion-title>
    </ion-toolbar>
</ion-footer>
