<ion-list #slidingList>
    <ng-container [formGroup]="form">
        <ion-item-sliding
            *ngFor="let item of controls; let j = index"
            class="card"
            formArrayName="items"
            no-margin
            no-padding
        >
            <ion-item lines="none">
                <ion-row [formGroupName]="j">
                    <ion-col size="3" text-center>
                        <img
                            [alt]="item.value.product.name"
                            [src]="item.value.product.image[0]"
                        />
                        <ion-text
                            (click)="remove.emit(j)"
                            class="small"
                            color="danger"
                            >Supprimer</ion-text
                        >
                    </ion-col>
                    <ion-col size="6">
                        <h3 class="item-name" no-margin>
                            {{ item.value.product.name }}
                        </h3>
                        <h5 class="item-def" no-margin>
                            {{ item.value.product.size }}
                        </h5>
                        <h5 class="item-def" no-margin>
                            Livraison: {{ item.value.product.currency }}
                            {{ item.value.product.shipping }}
                        </h5>
                    </ion-col>
                    <ion-col float-right size="3">
                        <ion-row justify-content-end text-end>
                            <h3
                                *ngIf="item.value.product.offer"
                                class="item-name"
                                no-margin
                                text-end
                            >
                                <span class="cut"
                                    >{{ item.value.product.currency }}
                                    {{ item.value.product.price }}</span
                                >
                                <span>{{
                                    utilsService.calculate(
                                        item.value.product.price,
                                        item.value.product.discount
                                    )
                                }}</span>
                            </h3>
                            <h3
                                *ngIf="!item.value.product.offer"
                                class="item-name"
                                no-margin
                                text-end
                            >
                                {{ item.value.product.currency }}
                                {{ item.value.product.price }}
                            </h3>
                        </ion-row>
                        <ion-row justify-content-end>
                            <ion-select
                                [interfaceOptions]="customAlertOptions"
                                class="select"
                                formControlName="quantity"
                                interface="popover"
                                placeholder="-"
                            >
                                <ion-select-option
                                    *ngFor="let q of quantity"
                                    text-center
                                    >{{ q }}</ion-select-option
                                >
                            </ion-select>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="remove.emit(j)" color="danger">
                    <ion-icon name="trash" size="large"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ng-container>
</ion-list>
<ion-row disabled="true" justify-content-center size="12">
    <ion-button (click)="browse()" color="primary" fill="outline"
        >Continuer vos achats</ion-button
    >
</ion-row>
<ion-row margin>
    <ion-text
        ><strong class="text">Récapitulatif de la commande</strong></ion-text
    >
</ion-row>
<ion-item class="card" lines="none" no-margin>
    <ion-row [formGroup]="form" class="full">
        <ion-col size="12">
            <ion-input
                class="input"
                formControlName="code"
                placeholder="Saisir le code promotionnel"
            ></ion-input>
        </ion-col>
    </ion-row>
</ion-item>
<div class="card" lines="none" no-margin padding-bottom>
    <ion-row class="full" padding-horizontal>
        <ion-col size="9">
            <ion-text>Prix total des articles</ion-text>
        </ion-col>
        <ion-col size="3" text-end>
            <ion-text>{{ items[0].product.currency }} {{ itemsCost }}</ion-text>
        </ion-col>
    </ion-row>
    <ion-row class="full" padding-horizontal>
        <ion-col size="9">
            <ion-text>Coût total des frais de livraison</ion-text>
        </ion-col>
        <ion-col size="3" text-end>
            <ion-text
                >{{ items[0].product.currency }} {{ shippingCost }}</ion-text
            >
        </ion-col>
    </ion-row>
    <ion-row class="full" padding-horizontal>
        <ion-col size="9">
            <ion-text>Total</ion-text>
        </ion-col>
        <ion-col size="3" text-end>
            <ion-text
                >{{ items[0].product.currency }}
                {{ itemsCost + shippingCost }}</ion-text
            >
        </ion-col>
    </ion-row>
    <div class="sep"></div>
    <ion-row>
        <ion-col>
            <ion-text class="item-def" text-start>
                <div class="pad">
                    En appuyant sur "Commander", vous acceptez les
                    <a (click)="openModal(true)" class="mycolor"
                        >Conditions d'utilisation</a
                    >
                    et
                    <a (click)="openModal(false)" class="mycolor"
                        >de Politique de confidentialité</a
                    >
                </div>
            </ion-text>
        </ion-col>
    </ion-row>
    <div class="sep"></div>
    <ion-row>
        <ion-col>
            <ion-text class="item-def" padding-bottom text-start>
                <div class="mycolor pad">
                    Retour et remboursement gratuits dans les 30 jours
                </div>
            </ion-text>
        </ion-col>
    </ion-row>
</div>
