<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Paiement</ion-title>
    </ion-toolbar>
</ion-header>
<ng-container [formGroup]="form">
    <ion-content padding>
        <ion-list no-margin>
            <ion-radio-group formControlName="meanOfPayment">
                <ion-list-header color="light">
                    <ion-label>Sélectionner un moyen de paiement</ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of (billings$ | async); let i = index;">
                    <ion-label>
                        <ion-row align-items-center class="full">
                            <ion-col size="10">
                                <ion-row align-items-center>
                                    <p no-margin>
                                        <strong>{{item.phone}}</strong>
                                    </p>
                                </ion-row>
                                <ion-row align-items-center>
                                    <p class="small" no-margin>
                                        {{ item.firstName }} {{ item.lastName }}
                                    </p>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-label>
                    <ion-radio slot="start" [value]="i"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
<!--        <ion-row justify-content-center padding-bottom padding-top>-->
<!--            <ion-text (click)="addPayment()" color="primary">-->
<!--                {{addNewDeliveryAddress ? 'Cancel' : 'Add new payment method'}}-->
<!--            </ion-text>-->
<!--        </ion-row>-->
<!--        <div *ngIf="addNewPayment" class="add-payment-div">-->
<!--            <ion-row>-->
<!--                <ion-col>-->
<!--                    <ion-text-->
<!--                    ><span class="label">Credit/Debit Number</span></ion-text-->
<!--                    >-->
<!--                    <ion-input-->
<!--                            class="input"-->
<!--                            padding-horizontal-->
<!--                            placeholder="Credit/Debit Number"-->
<!--                            type="number"-->
<!--                    ></ion-input>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--            <ion-row>-->
<!--                <ion-col>-->
<!--                    <ion-text-->
<!--                    ><span class="label">Security Code(CVV)</span></ion-text-->
<!--                    >-->
<!--                    <ion-input-->
<!--                            class="input"-->
<!--                            padding-horizontal-->
<!--                            placeholder="CVV"-->
<!--                            type="number"-->
<!--                    ></ion-input>-->
<!--                </ion-col>-->
<!--                <ion-col>-->
<!--                    <ion-text><span class="label">Expiry Date</span></ion-text>-->
<!--                    <ion-input-->
<!--                            class="input"-->
<!--                            padding-horizontal-->
<!--                            placeholder="MM/YY"-->
<!--                    ></ion-input>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--            <ion-row>-->
<!--                <ion-col>-->
<!--                    <h5 class="label" no-margin>Billing Zip/Postal Code</h5>-->
<!--                    <h6 class="small">-->
<!--                        The zip or postal code from the address registered for this-->
<!--                        card-->
<!--                    </h6>-->
<!--                </ion-col>-->
<!--                <ion-col>-->
<!--                    <ion-input-->
<!--                            class="input"-->
<!--                            padding-horizontal-->
<!--                            placeholder="Zip/Postal Code"-->
<!--                    ></ion-input>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--            <ion-row>-->
<!--                <ion-col size="2">-->
<!--                    <ion-icon class="icon" name="lock"></ion-icon>-->
<!--                </ion-col>-->
<!--                <ion-col>-->
<!--                    <h5 class="label" no-margin>Secure Payment</h5>-->
<!--                    <h6 class="small">-->
<!--                        Trusted by over 500 million shoppers in 50 countries-->
<!--                    </h6>-->
<!--                </ion-col>-->
<!--            </ion-row>-->
<!--        </div>-->
        <ion-list>
            <ion-radio-group formControlName="deliveryAddress">
                <ion-list-header color="light">
                    <ion-label>Adresse de livraison</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let item of (addresses$ | async); let i = index;">
                    <ion-label>
                        <ion-row align-items-center>
                            <p no-margin>
                                <strong
                                >{{item.firstName}} {{item.lastName}}</strong
                                >
                            </p>
                        </ion-row>
                        <ion-row>
                            <p no-margin>
                                {{item.firstAddressLine}},
                                {{item.secondAddressLine}}
                            </p>
                        </ion-row>
                        <ion-row>
                            <p no-margin>{{item.city}}</p>
                        </ion-row>
                        <ion-row>
                            <p no-margin>{{item.region}}</p>
                        </ion-row>
                        <ion-row>
                            <p no-margin>{{item.zipCode}}</p>
                        </ion-row>
                    </ion-label>
                    <ion-radio slot="start" [value]="i"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ion-content>
    <ion-footer (click)="onSubmit()">
        <ion-toolbar [color]="form.valid ? 'success' : 'warning'">
            <ion-title>Terminer</ion-title>
        </ion-toolbar>
    </ion-footer>
</ng-container>

