<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header class="mybg">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button class="white menu" color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">Apply Promo</ion-title>
    </ion-toolbar>
    <div class="mybg">
        <ion-row text-start margin-top>
            <ion-col padding>
                <h5 no-margin text-start class="white amt" text-center>
                    <strong>Have a promo code?</strong>
                </h5>
                <h5
                    no-margin
                    text-start
                    class="white amt"
                    margin-top
                    text-center
                >
                    <strong>Enter it here</strong>
                </h5>
            </ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content color="light">
    <div class="card" padding>
        <ion-row padding-horizontal padding-top
            ><strong>Enter promo code:</strong></ion-row
        >
        <ion-row padding-horizontal padding-top>
            <ion-input
                class="input"
                placeholder="Promocode"
                padding-horizontal
            ></ion-input>
        </ion-row>
        <ion-button color="mytheme" expand="block" margin
            ><span class="white"><strong>Apply</strong></span></ion-button
        >
    </div>
</ion-content>
